.addnews-container{
    background-color: #2b2a29;
}

.file-upload-text{
    text-align: center;
    color: #fefefe;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.addnews-usertext{
    color: #fefefe;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}