.contest-container {
    background-color: #2b2a29;
}


.dropdown-container {
    display: flex;
    justify-content: center;
}

.dropdown-button-custom {
    margin-top: 20px;
}

.contest-form-item {
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    background-color: #ff8b03;
    border-color: #ff8b03;
}

.contest-form-item:last-child {
    margin-bottom: 20px;
}

.contest-info {
    text-align: center;
    color: #fefefe;
    font-size: 28px;
    padding-bottom: 10px;
}

.contest-auth-text{
    color: #fefefe;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}