/*news*/
.news-carousell{
    background-color: #2b2a29;
}

.news-img{
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #2b2a29, transparent);
}

.news-slider-title{
    font-size: 28px;
}

.news-slider-text{
    font-size: 20px;
}

/*master-classes*/
.master-class-main{
    height: auto;
    background-color: #fefefe;
}
.mc-head-text{
    padding-top: 20px;
    font-size: 32px;
    color: #2b2a29;
    text-align: center;
}
.mc-main-text{
    font-size: 24px;
    color: #2b2a29;
    text-align: center;
    padding-top: 20px;
}
.mc-button{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff8b03;
    border-color: #ff8b03;
    font-size: 20px;
    color: #2b2a29;
    text-align: center;
}
.mc-button:hover{
    background-color: #ee8003;
    border-color: #ee8003;
}


/*contest*/

.contest-main{
    height: auto;
    background-color: #2b2a29;
}
.contest-head-text{
    text-align: center;
    color: #fefefe;
    font-size: 32px;
    padding-top: 20px;
}
.contest-main-text{
    padding-top: 20px;
    font-size: 24px;
    color: #fefefe;
    text-align: center;
}