.login-container{
    background-color: #2b2a29;
}

.login-header{
    color: #fefefe;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

.login-form-item{
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}

.login-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff8b03;
    border-color: #ff8b03;
    color: #2b2a29;
}

.login-button:hover{
    background-color: #ee8003;
    border-color: #ee8003;
}

.logout-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff8b03;
    border-color: #ff8b03;
    color: #2b2a29;
}

.logout-button:hover{
    background-color: #ee8003;
    border-color: #ee8003;
}