.register-container{
    background-color: #2b2a29;
}

.register-header{
    color: #fefefe;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

.register-form-item{
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}

.register-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff8b03;
    border-color: #ff8b03;
    color: #2b2a29;
}

.register-button:hover{
    background-color: #ee8003;
    border-color: #ee8003;
}