.navbar{
    background-color: #fefefe;
}
.nav-logo{
    margin-left: 50px;
    height: 100px;
    width: 178px;
}
.nav-link{
    color: #ff8b03;
    margin-right: 75px;
    font-size: 24px;
}
.nav-link:first-child{
    margin-left: 300px;
}

.nav-button{
    margin-right: 5px;
    background-color: #ff8b03;
    border-color: #ff8b03;
    font-size: 18px;
    color: #2b2a29;
    text-align: center;
}

.nav-button:hover{
    background-color: #ee8003;
    border-color: #ee8003;
}

@media (max-width: 1400px) {
    .nav-logo{
        margin-left: 20px;
    }
    .nav-link{
        margin-right: 0px;
        margin-left: 20px;
    }
    .nav-link:first-child{
        margin-left: 20px;
    }
    .nav-button:first-child{
        margin-left: 20px;
    }
}